.canvas-container {
  background-color: #e5e5e5;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
}

.canvas-subcontainer {
  background: white;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
